@font-face {
    font-family: "arial-rounded";
    src: url(fonts/Arial-Rounded-Bold.ttf) format(truetype);
}

body {
      font-family: "arial-rounded";
      background: #000000;
      color: #ffffff;
      margin: 0;
      margin-inline: auto;
    }
    h1 {
      text-align: center;
      margin: 10px 0 10px 0;
      font-size:40px;
        mix-blend-mode: difference;
        text-shadow: 5px 5px 10px  rgb(92, 231, 0);
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
        display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;

    }
    li {
      background: rgb(255, 255, 255);
      text-transform: lowercase;
    font-size: 25px;
      color: rgb(0, 0, 0);
      text-align: center;
      border-radius: 30px;
      width: 100%;
      max-width: 800px;
      box-shadow: 0 2px 4px rgba(0,0,0,0.1);
      padding: 1rem;
      margin: 0.5rem 0;
  box-sizing: border-box; 
    }
.gericht-info{
    color: #aa03f7;
}

    footer {
      text-align: center;
      margin-top: 2rem;
      font-size: 0.9em;
      color: #666;
    }

    .marquee {
position: fixed;
bottom: -10px;
left: 0;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}

.marquee span {
  display: inline-block;
      font-size: 25px;
  padding-left: 100%; /* start off screen */
  animation: marquee 12s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}


.slideshow {
position: fixed;
top: 0;
left: 0;
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
  z-index: -999;
}

.slideshow img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slideshow img.active {
  opacity: 1;
}