@font-face {
  font-family: "arial-rounded";
  src: url(fonts/Arial-Rounded-Bold.ttf) format(truetype);
}

body {
  font-family: "arial-rounded";
  background: #000000;
  color: #ffffff;
  margin: 0;
  margin-inline: auto;
  overflow-x: hidden;
}
#loading{
  position: fixed;
  width: 100vw;
  text-align: center;
  top: 45%;
  font-size: 60px;
}
h1 {
  text-align: center;
  margin: 10px 0 30px 0;
  padding: 0;
  font-size: 58px;
  line-height: 53px;
  mix-blend-mode: difference;
  color: #ffffff;
  text-shadow: -1.5px -1.5px 0 #aa03f7, 1.5px -1.5px 0 #aa03f7, -1.5px 1.5px 0 #aa03f7, 1.5px 1.5px 0 #aa03f7;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
}
li {
  background: rgb(0, 0, 0);
  color: white;
  text-transform: lowercase;
  font-size: 25px;
  text-align: center;
  border-radius: 35px;
  width: 100%;
  max-width: 800px;
  padding: 1rem;
  margin: 0.5rem 0 0 0;
  box-sizing: border-box;
}
.gericht-info {
  margin-top: 0.33em;
  color: #aa03f7;
  font-size: 24px;
}

footer {
  text-align: center;
  margin-top: 2rem;
  font-size: 0.9em;
  color: #666;
}

.marquee {
  position: fixed;
  top: 92dvh;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.marquee span {
  display: inline-block;
  font-size: 58px;
  padding-left: 100%;
  height: 70px;
  animation: marquee 12s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.slideshow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
  z-index: -999;
}

.slideshow img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.slideshow img.active {
  opacity: 1;
}


.fade-in {
  opacity: 0;
  transform: translateY(-10px);
  animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


